*__pycache__
results
.vscode
*build
*dist
*egg-info
third_party
wandb
*.png
data
*.ply
data_paris
*pth
vis
results_stable
results*
toy_car
draft
# *.gif
*.mp4
# *.sh
temp
scripts
data_gen/test
data_gen/*.ipynb
data_gen/*.py
data_gen/*.urdf
# toy_car*